
#flexContainer{
    display: flex;
    align-items: center;
  justify-content: center;
  flex-direction: column;
}

img{
    height: 200px;
    width: 200px;
}

button{
    background-color: white;
    border: 0px;
    margin-bottom: 40px;
    cursor:pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
  }

a {
    text-decoration: none;
    padding: 10px;
    margin: 3px;
    width: 120px;
}


.finished{
    background-color: rgb(14, 194, 134);
}

#linkContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr) );
    justify-items: center;
}