
#flexContainer{
    display: flex;
    align-items: center;
  justify-content: center;
  flex-direction: column;
}

img{
    height: 200px;
    width: 200px;
}

button{
    background-color: white;
    border: 0px;
    margin-bottom: 40px;
    cursor:pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
  }

a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    margin: 42px;
    width: 170px;
}

#linkContainer{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr) );
    justify-items: center;
}